/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    font-size: 10px;
    font-family: 'roboto', monospace;
}

body {
    line-height: 1;
    font-size: 1.4rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FF764E;
}

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    color: white;
    padding: 2%;
}

nav a {
    padding: 5px 10px;
    border-radius: 6px;
    color: #ffffff;
    width: 100px;
    text-align: center;
    text-transform: capitalize;
}

nav a:first-of-type {
    background-color: #FF764E;
}

nav a:nth-of-type(2) {
    background-color: #5ED3EB;
}

nav a:nth-of-type(3) {
    background-color: #FFCD69
}

nav a:hover {
    color: inherit;
    transform: scale(1.1);
}

header, section {
    max-width: 860px;
    margin: 0 auto;
}


header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 30px;
}

header p:nth-of-type(2) {
    padding: 0px 120px;
}

.col-3 {
    width: 25%;
}

.col-9 {
    width: 75%;
}


h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 4.5rem;
    letter-spacing: 1px;
    text-align: center;
}

header img {
    width: 100%;
    border-radius: 50%;
}

section.about {
    background-color: #DDB9A3;
    color: #ffffff;
    text-align: center;
    padding: 5px 10px;
}

p {
    margin: 10px 0px;
}

section.info-box {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

section.info-box img {
    width: 50%;
}

footer {
    margin-top: 40px;
    padding-top: 250px;
    background-image: url('assets/footer_img.jpg');
    background-size: cover;
    background-position: 0% 20%;
    background-repeat: no-repeat;
}

footer nav {
    background-color: #F9E7DC;
}